extends ../node_modules/jade-bootstrap/_bootstrap
append styles
	// Custom styles for this template
	link(href='../css/jumbotron.css', rel='stylesheet')
block body
	.jumbotron
		.container
			div.col-xs-offset-2.col-xs-8 
				div.alert.alert-info #{errorMessage}
				form( role="form" class="" method="post" action="/checkLogin" )
					.form-group
						label( for ="username"  ) Usuario
						i.fa.fa-key
						input( type ="text" class="form-control" name="username")
						label( for ="password"  ) Contraseña
						i.fa.fa-key
						input( type ="password" class="form-control" name="password")
					.form-actions
						button(type="submit" class="btn btn-danger") Ingresar
